header {
    display: grid;
    grid-template-columns: minmax(94px, 1fr) repeat(3, auto);
    column-gap: 1rem;
    padding: 1.5625rem 1.25rem 3.125rem 1.25rem;
    align-items: center;
    background-color: $intro_bg;

    @include breakpoint(large){
        padding: 4.5625rem 5rem;
        column-gap: 3.5rem;
    }
    img {
        width: 5.1875rem;
        
        @include breakpoint(large){
            width: 11.5625rem;
        }
    }
    a {
        font-size: 0.875rem;

        @include breakpoint(large){
            font-size: 1rem;
        }
    }
}
