// Fonts
$font-title: 'Raleway', sans-serif; 
$font-body: 'Open Sans', sans-serif;

// Colors
$primary_bg: #181F2A;
$intro_bg: #1C2431;
$footer_bg: #0B1523;
$testimonials_bg:#202a3c; 
$red: #ff4242;
$cyan: #65E2D9;
$blue: #339ECC;

// Breakpoints
$breakpoints: (
    small: 499px,
    medium: 699px,
    large: 999px,
    xlarge: 1399px
);

@mixin breakpoint($size) {
    $breakpoint-value: map-get($breakpoints, $size);

    @media (min-width: $breakpoint-value){
        @content
    }
}


